.header{
    margin-top: 20px;

}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    color: black;
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
    background-color: goldenrod;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px; 
    background-color: black;
    color: goldenrod;
}

.headerImg {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    object-fit: cover;
}